<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
    	<add key="repositoryPath" value="..\packages" />
    	<add key="globalPackagesFolder" value="..\packages" />
  	</config>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="fluid.nuget" value="https://teamcity.ambertape.ru/httpAuth/app/nuget/feed/FLUID/Fluid/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="fluid.nuget" value="https://teamcity.ambertape.ru/httpAuth/app/nuget/feed/FLUID/Fluid/v3/index.json" />
	</activePackageSource>
	<packageSourceCredentials>
    	<fluid.nuget>
        	<add key="Username" value="nuget.user" />
        	<add key="ClearTextPassword" value="86XeGfMYRz" />
    	</fluid.nuget>
	</packageSourceCredentials>
</configuration>